#header{
	background: #deba9d;
	height: 10%;
	font-size: 1.5em;
	text-align: center;
	padding-top: 20px;
}
#tif {
	text-align: left;
	color: white;
	font-family: arial;
}
#sign {
	text-align: right;
	padding-right: 50px;
	color: white;
	font-family: arial;
}
#sidebar{
	background: #ecdcbe;
	float: left;
	height: 500px;
	width: 40%;
	font-size: 1.5em;
	text-align: center;
	padding-top: 20px;
	font-family: arial;
}
#main{
	float: right;
	width: 60%;
	height: 500px;
	font-size: 1.5em;
	text-align: left;
	padding-top: 20px;
	font-family: arial;
}
#footer{
	background: #9e7777;
	clear: both;
	height: 10%;
	font-size: 1.5em;
	text-align: center;
	padding-top: 20px;
	color: white;
	font-family: arial;
}